$base-font-size: ms(0);
$xxs-title-font-size: ms(2);
$xs-title-font-size: ms(5);
$s-title-font-size: ms(7);
$m-title-font-size: ms(10);
$title-font-size: ms(12);
$l-title-font-size: ms(15);

$main-bg-color: #ffff;
$footer-bg-color: #f6f7f8;
$lightblue-bg-color: linear-gradient(151.4deg, #00caff 26.83%, #0aa8e8 84.69%);

$lightblue-color: #0aa8e8;
$darkblue-color: #003d54;
$secondary-anchor-color: #838080;
$greyed-text-color: #515151;

@mixin flex-center {
    @include flexbox();
    justify-content: center;
    align-items: center;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}
